<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Rodrigo Lopes" />

    <title> Robas...</title>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Life+Savers|Rationale|Anaheim" />
    <!-- <link rel="stylesheet" type="text/css" href="resources/bootstrap/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/robas.css" />
    
</head>
  
<body>
	<div id="page">
		<div id="upper-menu">
			<ul>
				<li><a href="/index.html"> Blog</a></li>
				<li><a href="/projects.html"> Projects</a></li>
				<li><a href="/about.html"> About</a></li>
			</ul>
		</div>
		<hr>

			{{ content }}
		
		<hr>
		<div id="contact">
			<ul>
				<li id="linkedin"><a href="http://www.linkedin.com/pub/rodrigo-lopes/54/958/786"></a></li>
				<li id="twitter"><a href="http://twitter.com/robasbr"></a></li>
				<li id="github"><a href="http://github.com/robas"></a></li>
			</ul>
		</div>
		
		<div id="footer">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"/></a>
		</div>
	</div>
</body>
</html>
